body {
  padding: 0 2em;
  height: 90%;
  line-height: 1rem;
}

header {
  border-bottom: 1px solid rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

header h1 small {
  font-size: 60%;
}

label {
  margin-bottom: 0.1rem;
}

table {
  font-size: 80%;
  margin-bottom: 3rem;
}

section {
  padding-bottom: 1em;
}

#trackField > span.input-group-addon {
  cursor: pointer;
}

#trackColor.form-control {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  height: 2rem;
}

#map {
  height: 80vh;
}

#hidden-map-container {
  overflow: hidden;
  height: 0;
  width: 0;
  position: fixed;
}

/* Modal */

.modal {
  overflow-y:auto;
  display: block;
  width: 50vw;
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 1rem;
  z-index: 1050;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1040;
	background: rgba(0, 0, 0, 0.8);
}

.modal-body {
	height: 100%;
	overflow: auto;
	padding: 2em;
}

.modal-body > button {
  margin-top: 1rem;
}

.hidden {
  display: none;
}

/* Tooltip */
/* http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/ */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Position tooltip right of the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: calc((10rem + 0.4rem) / -2);
  padding: 0.4rem;
  min-width: 10rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
	background: rgba(0, 0, 0, 0.8);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
}

