body {
  padding: 1em 2em;
  height: 90%;
}

section {
  padding-bottom: 1em;
}

#map {
  height: 80vh;
}

#hidden-map {
  overflow: hidden;
  height: 0;
  width: 0;
  position: fixed;
}

.progress-bar {
  width: 0%
}
