body {
  padding: 0 2em;
  height: 90%;
}

.page-header {
  padding-bottom: 0;
}

section {
  padding-bottom: 1em;
}

#trackField > span.input-group-addon {
  cursor: pointer;
}

.modal {
	display: block;
	width: 50vw;
	position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
	background: white;
  border-radius: 1rem;
	z-index: 1050;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1040;
	background: rgba(0, 0, 0, 0.8);
}

.modal-body {
	height: 100%;
	overflow: auto;
	padding: 2em;
}

.modal-body > button {
  margin-top: 1rem;
}

.table {
  margin-bottom: 1rem;
}

#map {
  height: 80vh;
}

header {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.hidden {
  display: none;
}

label {
  margin-bottom: 0.1rem;
}

table {
  font-size: 80%;
}

header h1 small {
  font-size: 60%;
}

.spinning {
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

#hidden-map-container {
  overflow: hidden;
  height: 0;
  width: 0;
  position: fixed;
}

